= render_flash
= simple_nested_form_for @debit_note, html: { class: 'form-inline well', id: 'debit_note' } do |f|
  %legend
    = "Debit Note #" + ("%07d" % @debit_note.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @debit_note, debit_note_journal_entries_path(@debit_note)