%table.table-bordered.table#journal_entries
  %thead
    %tr
      %th.span1 Date
      %th.span2 Account
      %th.span1 Terms
      %th.span4 Partuculars
      %th.span2 Debit
      %th.span2 Credit
  %tbody
    - for t in @journal_entries.where(old_data: false)
      %tr.transaction
        %td.transaction_date= t.transaction_date
        %td.account= t.account.name1
        %td.terms= term_string t.terms
        %td.note= t.note
        %td.debit= t.amount.to_money.format if t.amount > 0
        %td.credit= t.amount.abs.to_money.format if t.amount < 0
    - if @journal_entries.length == 0
      %tr
        %td{colspan: 6}
          %h3 No Record found!
= link_to "Back to #{@parent.class.name}", edit_polymorphic_path(@parent), class: "btn btn-info"
