%table.table-bordered.table#journal_entries
  %thead
    %tr
      %th.span1 Date
      %th.span2 Account
      %th.span1 Terms
      %th.span4 Partuculars
      %th.span2 Debit
      %th.span2 Credit
  %tbody 
    - for t in @journal_entries
      %tr.transaction
        %td.transaction_date= t.transaction_date
        %td.account= t.account.name1
        %td.terms= t.terms_string
        %td.note= t.note
        %td.debit= t.debit.to_money
        %td.credit= t.credit.to_money
    - if @journal_entries.length == 0
      %tr
        %td{colspan: 6}
          %h3 No Record found!
= link_to "Back to #{@parent.class.name}", edit_polymorphic_path(@parent), class: "btn btn-info"