.navbar-inner
  .container-fluid
    %ul.nav
      = menu 'Accounting' do
        = menu_child 'Chart of Account', edit_account_type_path(AccountType.first)
        = menu_child 'Particular Type', particular_type_new_or_edit_path
        = menu_child 'Payment', payment_new_or_edit_path
        = menu_child 'Matching Payment', matching_payment_new_or_edit_path
        = menu_child 'Receipt', receipt_new_or_edit_path
      = menu 'Sales & Pruchases' do
        = menu_child 'Product', product_new_or_edit_path
        = menu_child 'Packaging', packaging_new_or_edit_path
        = menu_child 'Cash Sale', cash_sale_new_or_edit_path
        = menu_child 'Sales Invoice', invoice_new_or_edit_path
        = menu_child 'Purchase Invoice', pur_invoice_new_or_edit_path
      = menu 'Bank'
      = menu 'Payroll'
      = menu_child 'Transactions', transactions_path, class: 'bold', id: 'nav-transactions'