.navbar-inner
  .container-fluid
    %ul.nav
      = menu 'Accounting' do
        = menu_child 'Chart of Account', edit_account_type_path(AccountType.first)
        = menu_child 'Fixed Asset Addition', new_fixed_asset_addition_confirmation_path
        = menu_child 'Particular Type', particular_type_new_or_edit_path
        = menu_child 'Payment', payment_new_or_edit_path
        = menu_child 'Matching Payment', matching_payment_new_or_edit_path
        = menu_child 'Receipt', receipt_new_or_edit_path
        = menu_child 'Credit Note', credit_note_new_or_edit_path
        = menu_child 'Debit Note', debit_note_new_or_edit_path
        = menu_child 'Journal', journal_new_or_edit_path
        = menu_child 'Transactions', transactions_path
        = menu_child 'Statements', new_statement_path
      = menu 'Sales & Pruchases' do
        = menu_child 'Product', product_new_or_edit_path
        = menu_child 'Packaging', packaging_new_or_edit_path
        = menu_child 'Cash Sale', cash_sale_new_or_edit_path
        = menu_child 'Sales Invoice', invoice_new_or_edit_path
        = menu_child 'Purchase Invoice', pur_invoice_new_or_edit_path
      = menu 'Bank' do
        = menu_child 'Deposit', deposit_new_or_edit_path
        = menu_child 'Return Cheque', return_cheque_new_or_edit_path
      = menu 'Payroll' do
        = menu_child 'Employee', employee_new_or_edit_path
        = menu_child 'Salary Type', salary_type_new_or_edit_path
        = menu_child 'Advance', advance_new_or_edit_path
        = menu_child 'Prepare Pay Slip', new_pay_slip_generations_path
        = menu_child 'Salary Note', salary_note_new_or_edit_path
        = menu_child 'Recurring Note', recurring_note_new_or_edit_path
        = menu_child 'Driver Commission', driver_commissions_path
      = menu 'Report' do
        - report_filenames.each do |t|
          = menu_child t.humanize.titleize, dossier_report_path(t)
        - admin_report_filenames.each do |t|
          = menu_child t.humanize.titleize, dossier_report_path(t)
      = menu 'Layer' do
        = menu_child 'Flock', flock_new_or_edit_path
        = menu_child 'House', house_new_or_edit_path
        = menu_child 'Harvesting Slip', harvesting_slip_new_or_edit_path
        = menu_child 'Harvesting Report', new_harvesting_report_path
        = menu_child 'Harvesting Wages', new_harvesting_wages_report_path
      = menu_child 'Posts', post_new_or_edit_path, class: 'bold'