.row-fluid.show-hide
  - for header in headers
    .bold.table-header{class: header[1]}= header[0]
= f.fields_for xies_name do |builder|
  - if defined? with_type
    = render field, f: builder, with_type: with_type
  - else
    = render field, f: builder 
= f.link_to_add defined?(text) ? text : 'Add', xies_name, class: 'bold  span3'
