= render_flash
= simple_nested_form_for @addition, html: { class: 'offset2 span21 form-inline well' } do |f|
  %legend
    = "Asset #{@addition.entry_date.to_s} #{@addition.asset.account.name1}"
  %h3 Depreciations
  #depreciations
    .row-fluid
      = render_depreciations_fields f, :depreciations
  %span marked '*' is record that has not been saved
  %h3 Disposals
  #disposals
    .row-fluid
      = render_disposals_fields f, :disposals
  %span marked '*' is record that has not been saved
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Back to Addition', edit_fixed_asset_path(@addition.asset), class: 'btn btn-warning'

:coffee
  ($ document).ready -> asset.addition_init()