= render 'order_filter'
= render_flash
= simple_form_for @purchase_order, html: { class: 'span16 form-inline well' } do |f|
  %legend
    Purchase Order
  = render 'purchase_orders/fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', PurchaseOrder.last ? edit_purchase_order_path(PurchaseOrder.last) : root_path, class: 'btn btn-warning'
= render 'orders'