= render_flash
.row-fuild
  = simple_form_for :feed_productions_find, url: feed_productions_path, html: { class: 'form-inline' }, method: :get do |f|
    = label_tag 'Production Date', nil, class: :bold
    = f.input_field :produce_date, value: session[:feed_productions_find][:produce_date], class: 'datepicker span2'
    = f.button :submit, 'Find', class: 'btn btn-primary'
    = link_to "New", new_feed_production_path, class: "btn btn-info"

%h3= "Feed Productions For #{session[:feed_productions_find][:produce_date]}"

.row-fuild.span10
  %table.table-bordered.table#productions
    %thead
      %tr
        %th.span2 Feed Type
        %th.span2 Qty(Kg)
        %th.span2 Silo
        %th.span2 Action
    %tbody 
      - for t in @feed_productions
        %tr{ class: t == @feed_production ? 'active bold' : '' }
          %td.feed_type= t.feed_type
          %td.quantity= t.quantity
          %th.silo= t.silo
          %td.action
            = link_to 'edit', edit_feed_production_path(t)
            | 
            = link_to 'delete', t, method: :delete, confirm: 'Are you sure?'
      - if @feed_productions.length == 0
        %tr
          %td{colspan: 10}
            %h3 No Record found!