= render 'productions'
= simple_form_for @feed_production, html: { class: 'span16 form-inline well' } do |f|
  %legend
    New Feed Production
  = render 'fields', f: f
  = f.button :submit, 'Save', class: 'btn btn-primary'
  = link_to "New", new_feed_production_path, class: "btn btn-info"