= render_flash
= simple_nested_form_for @invoice, html: { class: 'form-inline well', id: 'invoice', data: { gst_type: 'supply' }, posted_lock: posted_lock?(@invoice) } do |f|
  %legend
    = "Invoice #" + docnolize(@invoice.id)
    = posted_lock_label f
  = render 'fields', f: f
  = post_to_account_check_box f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary' unless posted_lock?(@invoice)
    = link_to_edit_action_buttons @invoice, invoice_journal_entries_path(@invoice)