= render_flash
= simple_nested_form_for @invoice, html: { class: 'form-inline well', id: 'invoice', data: { gst_type: 'supply' } } do |f|
  %legend
    New Invoice
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', Invoice.last ? edit_invoice_path(Invoice.last) : root_path, class: 'btn btn-warning'