= f.hidden_field :usage_date
.row-fluid
  .span12
    = f.input :lorry, label: 'Lorry', input_html: { class: 'span' }, autofocus: true
  .span12
    = f.input :feed_type, label: 'Feed Type', input_html: { class: 'span', type: :text }
  .span12
    = f.input :gross, label: 'Gross(Kg)', input_html: { class: 'numeric span', type: :text }
  .span12
    = f.input :tare, label: 'Tare(Kg)', input_html: { class: 'numeric span', type: :text }
  
