= simple_form_for :batch_print_search, url: batch_print_docs_path, method: :get, html: { class: 'form-search'} do |f|
  = f.input_field :terms, class: 'span14', placeholder: 'search...', value: params[:batch_print_search][:terms]
  = f.input_field :date_from, class: 'datepicker span4', placeholder: 'date from...', value: params[:batch_print_search][:date_from]
  = f.input_field :date_to, class: 'datepicker span4', placeholder: 'date to...', value: params[:batch_print_search][:date_to]
  = f.button :submit, 'Search', class: 'btn-primary'

- for doc in @docs
  .batch_print_content
    .row
      .span2
        = 
      .span5
        = link_to_searchable doc
      .span5
        .label= doc.doc_date
      - if doc.doc_amount
        .span5
          .label.label-inverse= doc.doc_amount.to_money.format
      .span
        = sanitize strip_links strip_tags doc.content.first(50)

- if @docs.length == 0
  %h1.no-record{style: 'display: none'} No record found!