.row-fluid
  .span6
    = f.input :customer_name1, input_html: { class: 'span' }, label: 'Customer', autofocus: true
  .span3
    = f.input :doc_date, as: :datepicker, input_html: { class: 'span19' }, label: 'Date'
#details
  .row-fluid
    = render_invoice_details_fields f, :details
    .offset18.span3
      %input.bold.show-hide.span.numeric{tabindex: -1, value: 0.00, id: 'total_details', type: 'text', readonly: true }
#particulars
  .row-fluid
    = render_particulars_fields f, :particulars
    .offset18.span3
      %input.bold.show-hide.span.numeric{tabindex: -1, value: 0.00, id: 'total_particulars', type: 'text', readonly: true }
#cheques
  .row-fluid
    = render_cheques_fields f, :cheques
    .offset18.span3
      %input.bold.show-hide.span.numeric{tabindex: -1, value: 0.00, id: 'total_cheques', type: 'text', readonly: true }
.row-fluid
  .span8
    = f.input :note, input_html: { rows: 3, class: 'span' }
  .offset18
    = f.input :sales_amount, input_html: { tabindex: -1, class: 'bold numeric', type: :text, name: 'sales_amount' }, label_html: { class: 'bold' }, readonly: true

:javascript
  $(document).ready(function() {
    cash_sale.init();
  });