= render_flash
= simple_nested_form_for @cashsale, html: { class: 'form-inline well', id: 'cashsale' } do |f|
  %legend
    = "Cash Sales #" + docnolize(@cashsale.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @cashsale, cash_sale_journal_entries_path(@cashsale)