= render_flash
= simple_nested_form_for @cashsale, html: { class: 'form-inline well', id: 'cashsale', data: { gst_type: 'supply' }, posted_lock: posted_lock?(@cashsale) } do |f|
  %legend
    = "Cash Sales #" + docnolize(@cashsale.id)
    = posted_lock_label f
  = render 'fields', f: f
  = post_to_account_check_box f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary' unless posted_lock?(@cashsale)
    = link_to 'Copy as New', cash_sales_new_with_template_path(id: @cashsale), class: 'btn btn-info'
    = link_to_edit_action_buttons @cashsale, cash_sale_journal_entries_path(@cashsale)