= render_flash
= simple_nested_form_for @salary_note, html: { class: 'form-inline well span15', id: 'salary_note_form' } do |f|
  %legend
    = "Salary Note #" + ("%07d" % @salary_note.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @salary_note, salary_note_journal_entries_path(@salary_note)