= render_flash
= simple_nested_form_for @salary_note, html: { class: 'form-inline well span30', id: 'salary_note_form' } do |f|
  %legend
    New Salary Note
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', SalaryNote.last ? edit_salary_note_path(SalaryNote.last) : root_path, class: 'btn btn-warning'

