= f.input :username, disabled: true
= f.input :name
= f.input :password
= f.input :password_confirmation
- if current_user.is_admin
  = f.input :is_admin
  = f.input :status, collection: ['active', 'pending', 'locked'], include_blank: false


