= render_flash
= simple_form_for @user, html: { class: 'form-horizontal span32 offset4 well' } do |f|
  %legend
    User Profile
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', root_path, class: 'btn btn-warning'
