= simple_form_for @user, html: { class: 'form-horizontal span32 offset4 well' } do |f|
  %legend= CompanyName
  %h5 User Registration
  = render_flash
  = f.input :username, autofocus: true
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.button :submit, 'Sign up', class: 'btn btn-primary'
    = link_to 'Already have an account, go back to Login', login_path, class: 'btn btn-success'
