= simple_form_for @user, html: { class: 'form-horizontal span7 offset2 well' } do |f|
  %legend
    %h2= CompanyName
    User Registration
  = render 'layouts/messages'
  = f.input :username
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.button :submit, 'Sign up', class: 'btn btn-primary'
    = link_to 'Already have an account, go back to Login', login_path, class: 'btn btn-success'
