= hidden_field_tag :matcher_account_element, account_element
= hidden_field_tag :matcher_doc_type, f.object.class
= hidden_field_tag :matcher_doc_id, f.object.id
= label_tag :start, nil, class: 'bold'
= text_field_tag :matcher_from, params[:matcher_from] || Date.today.beginning_of_month, {class: 'datepicker span3', placeholder: 'start date...'}
= label_tag :end, nil, class: 'bold'
= text_field_tag :matcher_to, params[:matcher_to] || Date.today, {class: 'datepicker span3', placeholder: 'end date...'}
= link_to 'Matching Transactions Query', '#', class: 'btn', id: 'matcher-query-btn'
.row-fluid
  .bold.table-header.span2 Date
  .bold.table-header.span4 Doc Type
  .bold.table-header.span2 Term
  .bold.table-header.span3 Amount
  .bold.table-header.span3 Self Matched
  .bold.table-header.span3 Matched
  .bold.table-header.span3 Matching
  .bold.table-header.span3 Balance
.row-fluid
  #matcher-data
    = f.fields_for :matchers do |builder|
      = render 'matchers/object_field', f: builder