.fields
  .row-fluid
    - matcher_id = query_field.matcher_id || rand(999999999)
    = hidden_field_tag matcher_attr_name(:transaction_id, query_field, matcher_id), query_field.id
    = hidden_field_tag matcher_attr_name(:doc_type, query_field, matcher_id), params[:doc_type]
    = hidden_field_tag matcher_attr_name(:doc_id, query_field, matcher_id), params[:doc_id]
    = hidden_field_tag matcher_attr_name(:id, query_field, matcher_id), query_field.matcher_id
    = hidden_field_tag matcher_attr_name(:_destroy, query_field, matcher_id), false
    .span2
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :transaction_date, query_field.transaction_date, class: 'span', readOnly: true
    .span3
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :doc_type, query_field.doc_type + " #%07d" % query_field.doc_id, class: 'span', readOnly: true
    .span2
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :terms, query_field.terms, class: 'span', readOnly: true
    .span3
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :trans_amount, query_field.amount, class: 'amount span numeric', readOnly: true
    .span3
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :matched, query_field.matched, class: 'matched span numeric', readOnly: true
    .span3
      .control-group.table-field.string.optional
        .controls
          = text_field_tag matcher_attr_name(:amount, query_field, matcher_id), query_field.matching, class: 'span numeric matching'
    .span3
      .control-group.table-field.string.optional
        .controls
          = text_field_tag :balance, query_field.amount, class: 'span numeric balance', readOnly: true
