= render_flash
= simple_form_for @salary_type, html: { class: 'form-horizontal well', id: 'salary_type' } do |f|
  %legend
    New Salary Type
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', SalaryType.last ? edit_salary_type_path(SalaryType.last) : root_path, class: 'btn btn-warning'