= render_flash
= simple_nested_form_for @advance, html: { class: 'form-inline well span30', id: 'advance_form', admin_lock: !@advance.pay_slip.blank? } do |f|
  %legend
    = "Employee Advance #" + docnolize(@advance.id)
  - if @advance.pay_slip
    .label-important.label
      = "Deducted by Pay Slip" 
      = link_to("##{docnolize(@advance.pay_slip.id)}" , edit_pay_slip_path(@advance.pay_slip))
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @advance, advance_journal_entries_path(@advance)