.span3
  = render 'layouts/chart_of_accounts'
.span7
  = simple_form_for @account_type, html: { class: 'form-horizontal well', admin_lock: @account_type.admin_lock } do |f|
    %legend
      Account Type
    = render 'fields', f: f
    .form-actions
      = f.button :submit, 'Save', class: 'btn btn-primary'
      - if !@account_type.admin_lock
        = link_to 'Delete', @account_type, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
