.span3
  = render 'layouts/chart_of_accounts'
.span7
  = simple_form_for @account_type, html: { class: 'form-horizontal well' } do |f|
    %legend
      New Account Type
    = render 'fields', f: f
    .form-actions
      = f.button :submit, 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', edit_account_type_path(@account_type.parent || AccountType.first), class: 'btn btn-warning'