= render_flash
.bold GST Query by Month
= simple_form_for :gst_accounts, url: gst_accounts_path, method: :get, html: { class: 'form-search'} do |f|
  = f.input_field :month, collection: [1,2,3,4,5,6,7,8,9,10,11,12], value: session[:gst_accounts][:month], class: 'span4'
  = f.button :submit, 'Query', class: 'btn-primary'

.span48
  .span6.bold Account
  .span6.bold= "Balance at #{@date}"
- @accounts.each do |t|
  - balance = t.balance_at(@date)
  .row
    .span6
      = text_field_tag :name1, nil, value: t.name1, class: 'span'
    .span6
      = text_field_tag :balance, nil, value: number_with_delimiter(balance), class: 'span numeric'
    - if ![@gst_control_account.id, @gst_expense_account.id].include?(t.id) and balance != 0
      .span7
        = link_to 'Post to GST Controller', gst_accounts_path(account_id: t.id, gst_control_id: @gst_control_account.id, balance: balance), method: :post, class: 'span btn btn-success', confirm: "Will Post to #{@gst_control_account.name1}. Are you sure?"
    .span4
      = link_to "Transactions", transactions_path(transactions_query: { start_date: "#{@date.year}-#{@date.month}-01".to_date , end_date: @date, name: t.name1 }), class: 'span btn btn-warning'