= render_flash
= simple_form_for @return_cheque, html: { class: 'form-inline well', id: 'return_cheque' } do |f|
  %legend
    = "Return Cheque Notice #" + docnolize(@return_cheque.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @return_cheque, return_cheque_journal_entries_path(@return_cheque)