= render_flash
= simple_nested_form_for @return_cheque, html: { class: 'form-inline well', id: 'return_cheque' } do |f|
  %legend
    New Return Cheque Notice
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', ReturnCheque.last ? edit_return_cheque_path(ReturnCheque.last) : root_path, class: 'btn btn-warning'