.row-fluid
  .span6
    = f.input :dob, as: :datepicker, label: 'Date of Birth', input_html: { class: 'span38' }, autofocus: true
  .span8
    = f.input :breed, label: 'Breed Name', input_html: { class: 'span' }
  .span4
    = f.input :quantity, input_html: { class: 'numeric span', type: :text }
.row-fluid
  .span10
    = f.input :note, input_html: { rows: 2, class: 'span' }
  .span4
    = f.input :retired, collection: [true, false], include_blank: false, input_html: { class: 'span' }
#movements
  .row-fluid
    = render_movement_fields f, :movements

:coffee
  app.typeahead_init '#flock_breed', '/flock/typeahead_breed'
  app.showHide '#movements .fields:visible', '#movements .show-hide'
  app.nestedFormFieldAdded 'form', '.row-fluid', '.show-hide'
  app.nestedFormFieldRemoved 'form', '.row-fluid', '.show-hide', '.fields:visible'