.row-fluid
  .span6
    = f.input :move_date, as: :datepicker, input_html: { class: 'span40' }, wrapper: :table_field
  .span6
    = f.input :house_house_no, input_html: { class: 'span', type: :text }, wrapper: :table_field
  .span6  
    = f.input :quantity, input_html: { class: 'numeric span', type: :text }, wrapper: :table_field
  .span8
    = f.input :note, input_html: { class: 'span' }, wrapper: :table_field
  .span10
    = f.input :cur_qty_n_flock, input_html: { tabindex: -1, class: 'numeric span', name: 'cur_qty', type: :text, readOnly: true }, wrapper: :table_field
  .span2
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
