= render_flash
= simple_nested_form_for @recurring_note, html: { class: 'form-inline well span15', id: 'recurring_note_form' } do |f|
  %legend
    = "Recurring Note #" + docnolize(@recurring_note.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_no_journal_buttons @recurring_note