= render_flash
.bold Employee Salary Listing
= simple_form_for :pay_slip_generations, url: pay_slip_generations_path, method: :get, html: { class: 'form-search'} do |f|
  = f.input_field :date, class: 'datepicker span4', placeholder: 'date...', value: session[:pay_slip_generations][:date]
  = f.button :submit, 'Query', class: 'btn-primary'

.pull-right.span23
  - @paid_employees.sort_by { |t| t.pay_slips.last.try(:pay_date) || '2000-01-01'.to_date }.each do |t|
    .row
      - p = t.pay_slips.last
      .span24= link_to t.name, edit_employee_path(t), class: 'btn btn-info span'
      .span8.btn{disabled: "disabled"}= p ? p.pay_date : 'No PaySlip'
      .span12= link_to "Again PS-#{docnolize(p.id)}", pay_slip_generations_path(gen_pay: { employee_name: t.name, pay_date: session[:pay_slip_generations][:date]}), method: :post, class: 'btn btn-success span'

.pull-left.span23
  - @unpaid_employees.sort_by { |t| t.pay_slips.last.try(:pay_date) || '2000-01-01'.to_date }.each do |t|
    .row
      - p = t.pay_slips.last
      .span24= link_to t.name, edit_employee_path(t), class: 'btn btn-info span'
      .span8.btn{disabled: "disabled"}= p ? p.pay_date : 'No PaySlip'
      .span12= link_to "Prepare Pay Slip", pay_slip_generations_path(gen_pay: { employee_name: t.name, pay_date: session[:pay_slip_generations][:date]}), method: :post, class: 'btn btn-danger span'