= render_flash
= simple_form_for :gen_pay, url: pay_slip_generations_path, html: { class: 'offset6 span30 form-inline well', id: 'gen_pay' } do |f|
  %legend
    Prepare Pay Slip
  .row-fluid
    .span30
      = f.input_field :employee_name, placeholder: 'employee...', autofocus: true, class: 'span', value: params[:gen_pay] ? params[:gen_pay][:employee_name] : nil
    .span12
      = f.input_field :pay_date, class: 'datepicker span40', placeholder: 'salary until...', value: params[:gen_pay] ? params[:gen_pay][:pay_date] : nil
    = f.button :submit, 'Prepare', class: 'btn btn-primary'

- if @pay_slips.count > 0
  #multi-pay-slip-warning.offset10.span20
    %h4= "#{@pay_slips.count} Pay Slips found, for #{@pay_slips[0].employee_name} during #{params[:gen_pay][:pay_date].to_date.strftime('%B %Y')}."
    .bold
      = "Are you sure, you want to"
      %span= link_to 'prepare new pay slip', new_pay_slip_path(params[:gen_pay])
      %span again.
      - for doc in @pay_slips
        %br OR
        Re-Generate Pay Slip
        %span= link_to docnolize(doc.id, '#'), new_pay_slip_path(params[:gen_pay].merge(regen: doc))
        %br OR
        Edit Pay Slip
        %span= link_to docnolize(doc.id, '#'), edit_pay_slip_path(doc)
        %br

:coffee
  ($ document).ready ->
    app.typeahead_init '#gen_pay_employee_name', '/employee/typeahead_name'
