= render_flash
= simple_nested_form_for @gen_pay, html: { class: 'offset2 span21 form-inline well', id: 'pay_slip' } do |f|
  %legend
    Prepare Pay Slip
  .row-fluid
    .span8
      = f.input :employee_name, label: 'Employee Name', autofocus: true, input_html: { class: 'span' }
    .span4
      = f.input :pay_date, as: :datepicker, label: 'Salary Until', input_html: { class: 'span21' }
  = f.button :submit, 'Prepare', class: 'btn btn-primary'

:coffee
  ($ document).ready -> 
    app.typeahead_init '#pay_slip_generation_employee_name', '/employee/typeahead_name'