.row-fluid
  .span4
    = f.input :product_name1, input_html: { class: 'product span', data: { product_json: f.object.product.to_json } }, wrapper: :table_field
  .span3
    = f.input :packaging_name, input_html: { class: 'packaging span', data: { package_json: f.object.product_packaging.to_json } }, wrapper: :table_field
  .span2
    = f.input :package_qty, input_html: { class: 'package_qty span', type: :text }, wrapper: :table_field
  .span4
    = f.input :note, input_html: { class: 'note span' }, wrapper: :table_field
  .span2  
    = f.input :quantity, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span2
    = f.input :unit, input_html: { tabindex: -1, class: 'span', name: 'row_unit', readOnly: true}, wrapper: :table_field
  .span2
    = f.input :unit_price, input_html: { class: 'unit-price span', type: :text }, wrapper: :table_field
  .span3
    = f.input :total, input_html: { tabindex: -1, class: 'numeric row-total span', name: 'row_total', type: :text, readOnly: true }, wrapper: :table_field
  .span1
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
