.row-fluid
  .span10
    = f.input :employee_name, input_html: { class: 'span', readonly: true, tabindex: -1 }, label: 'Employee'
  .span4
    = f.input :pay_date, as: :string, label: 'Salary Until', input_html: { class: 'span', readonly: true, tabindex: -1 }
  .span6
    = f.input :doc_date, as: :datepicker, input_html: { class: 'span38' }, label: 'Date', autofocus: true
  .span10
    = f.input :pay_from_name1, input_html: { class: 'span' }, label: 'Pay From'
  .span6
    = f.input :chq_no, wrapper_html: { style: "display: #{f.object.pay_from_name1 == 'Cash In Hand' ? 'none' : ''}" }, input_html: { class: 'span' }
  .span6
    = f.input :total_pay, input_html: { class: 'bold numeric span', type: :text, tabindex: -1 }, label_html: { class: 'bold' }, readonly: true, label: 'Pay Slip Total'
#notes
  .row-fluid
    = render_salary_notes_fields f, :salary_notes
    .offset28.span6
      %input.bold.show-hide.span.numeric#total_notes{tabindex: -1, value: 0.00, type: 'text', readonly: true }
#advances
  .row-fluid
    = render_advances_fields f, :advances
    .offset38.span6
      %input.bold.show-hide.span.numeric#total_advances{tabindex: -1, value: 0.00, type: 'text', readonly: true }

:coffee
  ($ document).ready -> pay_slip.init()
