= render_flash
= simple_nested_form_for @pay_slip, html: { class: 'form-inline well', id: 'pay_slip' } do |f|
  %legend
    Calculated Pay Slip
  = render 'pay_slips/fields', f: f
  .form-actions
    = f.button :submit, 'Pay', class: 'btn btn-primary'
    = link_to 'Prepare Again', new_pay_slip_generations_path, class: 'btn btn-info'