= render_flash
= simple_nested_form_for @pay_slip, html: { class: 'form-inline well', id: 'pay_slip' } do |f|
  %legend
    = "Pay Slip #" + docnolize(@pay_slip.id)
  = render 'pay_slips/fields', f: f
  .form-actions
    = f.button :submit, 'Calculate & Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_pay_slip_path(@pay_slip), class: 'btn btn-warning'
    = link_to 'Prepare New', new_pay_slip_generation_path, class: 'btn btn-info'
    = link_to_index(PaySlip)
    = f.button :submit, 'Force Save', class: 'btn btn-danger'
    = link_to_print_buttons(@pay_slip)
    = link_to('Journals', pay_slip_journal_entries_path(@pay_slip), class: 'btn btn-info')
    = link_to_audits_log(@pay_slip)
