= render_flash
= simple_nested_form_for @deposit, html: { class: 'form-inline well', id: 'deposit' } do |f|
  %legend
    New Deposit
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', Deposit.last ? edit_deposit_path(Deposit.last) : root_path, class: 'btn btn-warning'