.row-fluid
  .span5
    = f.input :product_name1, input_html: { class: 'span product', data: { source: Product.pluck(:name1), provide: 'typeahead' } }, wrapper: :table_field
  .span3
    = f.input :quantity, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span2
    = f.input :unit, input_html: { class: 'span', name: 'row_unit', readOnly: true}, wrapper: :table_field
  .span3
    = f.input :cost, input_html: { class: 'cost span', type: :text }, wrapper: :table_field
  .span1
    = f.link_to_remove "X", class: "btn btn-danger"
