= render_flash
= simple_form_for @packaging, html: { class: 'form-inline well' } do |f|
  %legend
    New Packaging
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', Packaging.last ? edit_packaging_path(Packaging.last) : root_path, class: 'btn btn-warning'