#pay-to
  .row-fluid
    .span10
      = f.input :pay_to_name1, input_html: { class: 'span' }, label: 'Pay To', autofocus: true
    .span10
      = f.input :collector, input_html: { class: 'span' }
    .span6
      = f.input :doc_date, as: :datepicker, input_html: { class: 'span38' }
    .span8
      = f.input :actual_debit_amount, input_html: { class: 'bold span', type: :text, tabindex: -1 }, label_html: { class: 'bold' }, readonly: true
  #pay-to-particulars
    .row-fluid
      = render_particulars_fields f, :pay_to_particulars, false
#pay-from
  .row-fluid
    .span12
      = f.input :pay_from_name1, input_html: { class: 'span' }, label: 'Pay From'
    .span6
      = f.input :cheque_no, wrapper_html: { style: "display: #{f.object.pay_from_name1 == 'Cash In Hand' ? 'none' : ''}" }, input_html: { class: 'span' }
    .span6
      = f.input :cheque_date, as: :datepicker, wrapper_html: { style: "display: #{f.object.pay_from_name1 == 'Cash In Hand' ? 'none' : ''}" }, input_html: { class: 'span38' }
    .span8
      = f.input :actual_credit_amount, input_html: { class: 'bold span', type: :text, tabindex: -1 }, label_html: { class: 'bold' }, readonly: true
  #pay-from-particulars
    .row-fluid
      = render_particulars_fields f, :pay_from_particulars
      .offset30.span6
        %input.bold.show-hide.span.numeric{value: 0.00, id: 'total_pay_from_particulars', type: 'text', readonly: true, tabindex: -1 }
      
:coffee
  ($ document).ready -> payment.init()