= render_flash
= simple_nested_form_for @payment, html: { class: 'form-inline well', id: 'payment_form' } do |f|
  %legend
    = "Payment #" + docnolize(@payment.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @payment, payment_journal_entries_path(@payment)