= render 'layouts/messages'
= simple_nested_form_for @payment, html: { class: 'form-inline well', id: 'payment_form' } do |f|
  %legend
    = "Payment ##{@payment.id}"
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_payment_path(@payment), class: 'btn btn-warning'
    = link_to 'New', new_payment_path, class: 'btn btn-info'
    = link_to_print_buttons @payment