= render 'layouts/messages'
= simple_nested_form_for @payment, html: { class: 'form-inline well', id: 'payment_form' } do |f|
  %legend
    New Payment
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_payment_path(Payment.last), class: 'btn btn-warning'