= render_flash
= simple_form_for @address, html: { class: 'offset2 span21 form-inline well' } do |f|
  %legend
    = "Address for #{try_try(@address.addressable, :name1, :name)}"
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_address_path(@address), class: 'btn btn-warning'
    = link_to 'Back', edit_polymorphic_path(@address.addressable), class: 'btn btn-info'