= render_flash
= simple_form_for @address, html: { class: 'offset2 span42 form-inline well' } do |f|
  %legend
    = "New Address for #{try_try(@parent, :name1, :name)}"
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_polymorphic_path(@parent), class: 'btn btn-warning'