= render_flash
= simple_nested_form_for @journal, html: { class: 'form-inline well', id: 'journal' } do |f|
  %legend
    = "Journal #" + ("%07d" % @journal.id)
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to_edit_action_buttons @journal, journal_journal_entries_path(@journal)