.span12
  = f.input_field :party_type_name, class: 'span2', data: { source: ParticularType.pluck(:name), provide: 'typeahead' }
  = f.input_field :note, class: 'span3'
  = f.input_field :quantity, class: 'quantity numeric span1'
  = f.input_field :unit, class: 'span1'
  = f.input_field :unit_price, class: 'unit-price numeric span1'
  = f.input_field :total, readOnly: true, class: 'numeric row-total span2', name: 'row_total'
  = f.link_to_remove "X", class: "btn btn-danger"