.row-fluid
  .span8
    - if !with_type
      = f.input :particular_type_name, input_html: { tabindex: -1, class: 'span particular_type', readOnly: true, value: 'Note' }, wrapper: :table_field
    - else
      = f.input :particular_type_name, input_html: { class: 'span particular_type' }, wrapper: :table_field
  .span10
    = f.input :note, input_html: { class: 'span' }, wrapper: :table_field
  .span6
    = f.input :quantity, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span4
    = f.input :unit, input_html: { class: 'span' }, wrapper: :table_field
  .span4
    = f.input :unit_price, input_html: { class: 'unit-price numeric span', type: :text }, wrapper: :table_field
  .span2
    = f.input :gst_rate, input_html: { tabindex: -1, class: 'gst_rate numeric span', type: :text, readOnly: true }, wrapper: :table_field
  .span2
    = f.input :gst_rate, input_html: { tabindex: -1, class: 'gst_rate numeric span', type: :text, readOnly: true }, wrapper: :table_field
  .span4
    = f.input :gst, input_html: { tabindex: -1, class: 'gst numeric span', name: 'gst', type: :text, readOnly: true }, wrapper: :table_field
  .span6
    = f.input :in_gst_total, input_html: { tabindex: -1, class: 'numeric row-total span', name: 'row_total', type: :text, readOnly: true }, wrapper: :table_field
  .span2
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1