.span12.show-hide{style: "display: #{f.object.send(xies_name).size == 0 ? 'none' : ''}"}
  %span.table-header.span2 Type
  %span.table-header.span3 Note
  %span.table-header.span1 Quantity
  %span.table-header.span1 Unit
  %span.table-header.span1 Unit Price
  %span.table-header.span2 Amount
.span12
  = f.fields_for xies_name do |builder|
    = render 'particulars/field', f: builder
  = f.link_to_add "Add #{xies_name.to_s.humanize}", xies_name, class: 'btn btn-success span2', style: "margin-left: 0px;"
  .offset6.show-hide{style: "display: #{f.object.send(xies_name).size == 0 ? 'none' : ''}"}
    %strong Total
    %input.span2.numeric{id: 'total_' + xies_name.to_s, type: 'text', readonly: true, style: "margin-left: 7px;" }