= render_flash
= simple_nested_form_for @post, html: { class: 'form-horizontal well', id: 'post' } do |f|
  %legend
    = "Post #" + docnolize(@post.id)
  = render 'fields', f: f
  .form-actions
    = f.button(:submit, 'Save', class: 'btn btn-primary')
    = link_to 'New', new_post_path, class: 'btn btn-info'
    = link_to 'Cancel', edit_post_path(@post), class: 'btn btn-warning'
    = link_to_index(Post)
    = link_to_audits_log(@post)
