= render_flash
= simple_form_for @particular_type, html: { class: 'form-horizontal well span14 offset2' } do |f|
  %legend
    Particular Type
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_particular_type_path(@particular_type), class: 'btn btn-warning'
    = link_to 'Delete', @particular_type, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
    = link_to 'New', new_particular_type_path, class: 'btn btn-info'
    = link_to_index ParticularType
