= render_flash
= simple_form_for @particular_type, html: { class: 'form-horizontal well span14 offset2' } do |f|
  %legend
    New Particular Type
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', edit_particular_type_path(ParticularType.last), class: 'btn btn-warning'