- total = 0
= render_flash
- unless @parent
  .accordion#accordion1.center-text
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{data: { toggle: 'collapse', parent: '#accordion1' }, href: '#transaction-search-form', 'data-skip-pjax' => true }
          .bold Transaction Query
      .accordion-body.collapse#transaction-search-form
        .accordion-inner
          = simple_form_for :transactions_query, url: transactions_path, html: { class: 'form-search' } do |f|
            = f.input_field :name, class: 'span8', placeholder: 'account name...', autofocus: true, value: session[:transactions_query][:name]
            = f.input_field :start_date, class: 'datepicker span3', placeholder: 'start date...', value: session[:transactions_query][:start_date]
            = f.input_field :end_date, class: 'datepicker span3', placeholder: 'end date...', value: session[:transactions_query][:end_date]
            = f.button :submit, 'Query', class: 'btn-primary' 
%table.table-bordered.table#transactions
  %thead
    %tr
      %th.span2 Date
      %th.span3 Doc Type
      %th.span2 Terms
      %th.span10 Partuculars
      %th.span3 Debit
      %th.span3 Credit
  %tbody 
    - for t in @transactions
      - total += t.amount
      %tr.transaction
        %td.transaction_date= t.transaction_date
        %td.doc_type
          =#did not use polymorphic_path to avoid n+1 issue
          - if !t.new_record?
            = link_to t.doc_type + docnolize(t.doc_id, ' #'), url_for(controller: t.doc_type.pluralize.underscore, action: :edit, id: t.doc_id)
          - else
            = t.doc_type
        %td.terms= term_string t.terms
        %td.note= t.note
        %td.debit= t.amount.to_money.format if t.amount > 0
        %td.credit= t.amount.abs.to_money.format if t.amount < 0
    - if @transactions.length == 0
      %tr
        %td{colspan: 6}
          %h3.no-record{style: 'display: none'} No Record found!
  %tfoot
    %tr
      %td.bold{colspan: 4} Total
      %td.bold= total.to_money.format if total >= 0
      %td.bold= total.abs.to_money.format if total <= 0
  
:coffee
  ($ document).ready -> transaction.init()
