= render_flash
.accordion#accordion1.center-text
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{data: { toggle: 'collapse', parent: '#accordion1' }, href: '#transaction-search-form', 'data-skip-pjax' => true }
        .bold Transaction Query
    .accordion-body.collapse#transaction-search-form
      .accordion-inner
        = simple_form_for :transactions_query, url: transactions_path, html: { class: 'form-search span12' } do |f|
          .row
            = f.input_field :name, class: 'span4', placeholder: 'account name...', data: { source: Account.pluck(:name1), provide: 'typeahead' }, autofocus: true, value: session[:transactions_query][:name]
            = f.input_field :start_date, class: 'datepicker span2', placeholder: 'start date...', value: session[:transactions_query][:start_date]
            = f.input_field :end_date, class: 'datepicker span2', placeholder: 'end date...', value: session[:transactions_query][:end_date]
            = f.button :submit, 'Query', class: 'btn-primary'
%table.table-bordered.table#transactions
  %thead
    %tr
      %th.span1 Date
      %th.span1 Doc Type
      %th.span1 Terms
      %th.span4 Partuculars
      %th.span2 Debit
      %th.span2 Credit
  %tbody 
    - for t in @transactions
      %tr.transaction
        %td.transaction_date= t.transaction_date
        %td.doc_type
          =#did not use polymorphic_path to avoid n+1 issue
          - if !t.new_record?
            = link_to t.doc_type, url_for(controller: t.doc_type.pluralize.underscore, action: :edit, id: t.doc_id), class: 'btn btn-info'
          - else
            = t.doc_type
        %td.terms= t.terms_string
        %td.note= t.note
        %td.debit= t.debit.to_money
        %td.credit= t.credit.to_money

- if @transactions.length == 0
  %h1 No Record found!
  
:javascript
  $(document).ready(function() {
    transaction.init();
  });