.row-fluid
  .span4
    = f.input :bank, input_html: { class: 'span' }, wrapper: :table_field
  .span3
    = f.input :chq_no, input_html: { class: 'span' }, wrapper: :table_field
  .span4
    = f.input :city, input_html: { class: 'span' }, wrapper: :table_field
  .span4
    = f.input :state, input_html: { class: 'span' }, wrapper: :table_field
  .span4
    = f.input :due_date, as: :datepicker, input_html: { class: 'span20' }, wrapper: :table_field
  .span3
    = f.input :amount, input_html: { class: 'amount span', type: :text }, wrapper: :table_field
  .span1
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
