.row-fluid
  .span10
    = f.input :name1, autofocus: true, input_html: { class: 'span' }
  .span10
    = f.input :name2, input_html: { class: 'span' }
  .span4
    = f.input :unit, input_html: { class: 'span' }
  .span4
    = f.input :industry_code, input_html: { class: 'span' }
.row-fluid
  .span10
    = f.input :supply_tax_code_code, label: 'Supply Tax Code', input_html: { class: 'span' }
  .span10
    = f.input :purchase_tax_code_code, label: 'Purchase Tax Code', input_html: { class: 'span' }
.row-fluid
  .span8
    = f.input :sale_account_name1, label: 'Sale Account', input_html: { class: 'span' }
  .span8
    = f.input :purchase_account_name1, label: 'Purchase Account', input_html: { class: 'span' }
  .span8
    = f.input :category_list, input_html: { data: { tags: Product.tag_counts_on(:categories).map {|t| t.name } }, class: 'span' }
#packages
  .row-fluid.nested
    .span34
      = render_packagings_fields f, :product_packagings
.row-fluid
  .span12
    = f.input :description, input_html: { rows: 4, class: 'span' }

:coffee
  ($ document).ready -> product.init()
