= render_flash
= simple_form_for @tax_code, html: { class: 'form-horizontal well', id: 'tax_code' } do |f|
  %legend
    New Tax Code
  = render 'fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', TaxCode.last ? edit_tax_code_path(TaxCode.last) : root_path, class: 'btn btn-warning'