.navbar-inner
  .container
    %ul.nav
      = menu 'Accounting' do
        = menu_child 'Chart of Account', chart_of_accounts_path
      = menu 'Sales'
      = menu 'Purchases'
      = menu 'Bank'
      = menu "Payroll"
