!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "FullCircle"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to CompanyName, root_path, class: 'brand'
          %ul.nav.pull-right
            = simple_form_for :search, url: search_path, html: { class: 'navbar-search' } do |f|
              = f.input_field :terms, class: 'search-query span3', placeholder: 'search...', value: session[:search_term]
            - if logged_in?
              = menu current_user.name do
                = menu_child 'Edit Profile', edit_user_path(current_user)
                = menu_child 'Logout', logout_path
      = render 'share/navigations'
    #main{role: "main"}
      .container
        .content
          = render 'share/messages'
          .row
            .span12
              %div{'data-pjax-container' => true}
                = yield