= render_flash
.span8
  = render 'share/chart_of_accounts'
.span14
  = simple_form_for @account, html: { class: 'form-horizontal well', admin_lock: @account.admin_lock } do |f|
    %legend
      Account
    = render 'fields', f: f
    .form-actions
      - if !@account.admin_lock
        = f.button :submit, 'Save', class: 'btn btn-primary'
        = link_to 'Cancel', edit_account_path(@account), class: 'btn btn-warning'
        = link_to 'Delete', @account, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
        = link_to 'New Address', new_address_path(address: { addressable_id: @account.id, addressable_type: 'Account' }), class: 'btn btn-success'
    .row-fluid
      - if @account.addresses.count > 0
        - for address in @account.addresses
          .address.center-text.span8
            .label.label-info= address.address_type
            = html_format address
            .btn-group
              = link_to 'Edit', edit_address_path(address), class: 'btn btn-warning'
              = link_to 'Delete', address, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'